*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
.idea/.name
.idea/gradle.xml
.idea/misc.xml
gradle/wrapper/gradle-wrapper.properties
.idea/vcs.xml
